<h1>Manage Expense</h1>

<%# Add Expenses %>
<%= form_with model: @expense, url: expenses_path, method: :post, local:true do |f|  %>
    <%= f.label :space, "Space" %>
    <%= f.text_field :space %>
    
    <%= f.label :category, "Category" %>
    <%= f.text_field :category %>

    <%= f.label :description, "Description" %>
    <%= f.text_field :description %>

    <%= f.label :date, "Date" %>
    <%= f.date_field :date %>

    <%= f.label :account, "Account" %> 
    <%= f.text_field :account %>

    <%= f.label :amount, "Amount" %>
    <%= f.number_field :amount %>

    <%= f.submit "Add Expense" %>
<% end %>

<br>

<%# List Expenses %>
<table>
    <thead>
        <td>Space</td>
        <td>Date</td>
        <td>Account</td>
        <td>Category</td>
        <td>Description</td>
        <td>Amount</td>
    </thead>

    <% @expenses.each do |expense| %>
        <tr>
            <td><%= expense.space %></td>
            <td><%= expense.date %></td>
            <td><%= expense.account %></td>
            <td><%= expense.category %></td>
            <td><%= expense.description %></td>
            <td><%= expense.amount %></td>
        </tr>
    <% end %>
</table>